

@page
@model LogoutModel

@{
    ViewData["Title"] = "Log out";
}

<div class="p-3"> @*padding 3*@
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
            <p>Are you sure you want to proceed?</p>    
            <button type="submit" class="btn btn-primary">Log out</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }

</div>

@{
    Layout = "Manage/_Layout.cshtml";
}


