@* default layout unique to Blazor projects*@

@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization; @*for AuthorizeView*@

<PageTitle>Successful Startup</PageTitle>

<div class="page">
    <AuthorizeView>
        <div class="sidebar">
            <NavMenu /> @* displays left sidebar navigation menu only if user is logged in*@
        </div>
    </AuthorizeView>

    <main>
        <div class="top-row px-4">
            <LoginDisplay /> @* displays login/logout links *@
        </div>

        <article class="content px-4">
            @Body @* displays page*@
        </article>
    </main>
</div>
