@*component displayed at top of every page, shows login/logout links depending on status*@

@using Microsoft.AspNetCore.Components.Authorization; @*necessary for accessing user name from Identity*@

<AuthorizeView> @* show or hide UI elements depending on whether the user is authorized to see it *@
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a> @*gets the name of the user currently logged in*@
            <form method="post" action="/LogOut">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
            </form>
    </Authorized>
    <NotAuthorized>
        <a href= "Identity/Account/Register"> Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
