@* home page *@

@page "/"

<PageTitle>Index</PageTitle>

<h1>7 Steps to a Profitable Startup</h1>

<p>You have an idea, plus the knowledge, skills, and dedication to make it happen. But before you invest your time, money, and soul, ask yourself:</p>
<p style="font-weight:bold">Can you earn a living? How?</p>
<p>No matter your motivation, you won't last long if you lose money. The sooner you can answer those two questions, the greater your chance of success.</p>

<h3>Coming soon...</h3>
<p>This guide will help you answer the following questions and quickly build an actionable business plan.</p>

<p><span style="font-weight:bold">1. Objectives - </span>What do you want from your business?</p>

<p><span style="font-weight:bold">2. Product Mix - </span>What will you sell?</p>

<p><span style="font-weight:bold">3. Breakeven Analysis - </span>How much will you need to sell?</p>

<p><span style="font-weight:bold">4. Market Research - </span>Who will buy your product?</p>

<p><span style="font-weight:bold">5. Strategy - </span>Why will people choose your product instead of others?</p>

<p><span style="font-weight:bold">6. Branding - </span>What will clients think of your product?</p>

<p><span style="font-weight:bold">7. Customer Contact - </span>Why will customers think of your product when it's time to make a purchase?</p>

