@*complete a form to create a new business plan*@

@page "/newplan"

@*for writing to database*@
@inject IWriteOnlyApi api
@*for converting Domain entities to Data entities*@
@inject MappingProfile mapper

@using Microsoft.AspNetCore.Components.Forms @*for EditForm*@
@using SuccessfulStartup.Data
@using SuccessfulStartup.Data.APIs
@using SuccessfulStartup.Data.Entities


<h1>Create a New Business Plan</h1>

<br />

<EditForm Model="plan" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator /> @*checks if input meets requirements specified by data annotations in entity model*@

    <label for="Name" class="control-label">Title: </label>
    <br />
    <InputText @bind-Value="plan.Name" /> @*links input box to property*@
    <ValidationMessage For="( () =>plan.Name )" style="color:red" /> @*displays only if input is invalid and the entity model property includes a validation message*@

    <br />
    <br />

    <label for="Description" class="control-label">Description: </label>
    <br />
    <InputText @bind-Value="plan.Description" />
    <ValidationMessage For="( () =>plan.Description )" style="color:red" />


    <br/>
    <br/>

    <button type="submit" class="btn btn-primary">Create</button>

    <br />
    <br />
    <p style="color:red">@message</p>

</EditForm>

@code{
    public BusinessPlan plan { get; set; } = new BusinessPlan(); @*needs to be initialized or there is a runtime error stating no model was found*@
    public string message = "";

    public void HandleValidSubmit()
    {
        try
        {
            api.SaveNewPlan(mapper.BusinessPlanDataToDomain(plan));
            message = "New business plan created successfully!";
        }
        catch (InvalidOperationException)
        {
            message = "Failed to create new business plan.";
        }

    }
}
