@*displays all the business plans belonging to the current user*@

@page "/plans"

@using SuccessfulStartup.Data.Entities

<h1>Your Business Plans</h1>

<br />

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    @foreach (var plan in plans)
    {
        <tr>
            <td>plan.Name</td>
            <td>plan.Description</td>
        </tr>
    }
</table>

<br />

<p><a href="/newplan">Create a new plan</a></p>

@code {
    public List<BusinessPlan> plans { get; set; } = new List<BusinessPlan>();
}
