@*displays all the business plans belonging to the current user*@

@page "/plans"

@*for reading database*@
@inject IReadOnlyApi api
@*for converting Domain entities to Data entities*@
@inject MappingProfile mapper

@using SuccessfulStartup.Data
@using SuccessfulStartup.Data.APIs
@using SuccessfulStartup.Data.Entities


<h1>Your Business Plans</h1>

<br />

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    @foreach (var plan in plans)
    {
        <tr>
            <td>@plan.Name</td>
            <td>@plan.Description</td>
        </tr>
    }
</table>

<p style="color:red">@message</p>
<br />

<p><a href="/newplan">Create a new plan</a></p>

@code {
    public List<BusinessPlan> plans { get; set; } = new List<BusinessPlan>();
    public string message = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var plansDomain = await api.GetAllPlansByAuthorId("4c6afe26-eb99-4d98-9f2f-5bed3a7bdd5b"); // TODO: get current userID
            plans = mapper.ListBusinessPlanDomainToData(plansDomain);
        }
        catch (Exception)
        {
            message = "Failed to load business plans from database.";
        }
    }
}
