@*view the details of an existing business plan*@

@page "/plans/{planId:int}"

@using Microsoft.AspNetCore.Components.Authorization @*for AuthenticationStateProvider*@
@using Microsoft.AspNetCore.Components.Forms @*for EditForm*@
@using SuccessfulStartup.Api.ViewModels

<h1 id="header">Your Business Plan</h1>

<br />

<AuthorizeView> @*determines which content to show, based on user authorization*@

    <Authorized>
        <p><a href="/plans/@plan.Id/update">Edit your plan</a></p>
        <br />

        <h6 id="plan">Name</h6>
        <p id="name">@plan.Name</p>
        <br />

        <h6>Description</h6>
        <p id="description">@plan.Description</p>

    </Authorized>

    <NotAuthorized>
         <p style="color:red">You must be logged in to see this information.</p>
    </NotAuthorized>

</AuthorizeView>

@code {
    [Parameter]
    public int planId { get; set; }

    private BusinessPlanViewModel plan { get; set; } = new BusinessPlanViewModel();

    protected async override Task OnParametersSetAsync() // don't use OnInitialized, results in runtime error where model cannot be found
    {
        plan = await ApiCallService.GetPlanByIdAsync(planId); // service manages all HTTPClient requests to the API
    }
}
